body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  width: 100vw;
  position: fixed;
}

.navbar-toggler span.navbar-toggler-icon {
  background-image: url("./assets/menu.svg") !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: black !important;
  box-shadow: none !important;
  border: 1px solid black !important;
}

.navbar.bg-dark {
  background-color: black !important;
}

.navbar-brand {
  margin-left: 100px;
  color: deepskyblue !important;
  font-weight: 600;
}

.container {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar {
  display: flex !important;
  justify-content: space-between !important;
}
.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-right: 0px;
}

a.page-btn,
a.nav-link.extra-btn {
  color: aliceblue;
  margin-right: 10px;
  padding: 10px;
  background-color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
a.page-btn:hover {
  color: rgb(182, 0, 0);
  background-color: rgb(33, 37, 41);
}
a.extra-btn:hover {
  color: cyan;
}
a.nav-link:focus {
  color: aliceblue !important;
}
.page-links,
.extra-links {
  display: flex;
  margin-right: 0px;
}
.page-links {
  margin-left: 80px;
  margin-right: 100px;
}

.page-links .strumming-btn {
  color: rgb(44, 184, 231);
  background-color: black;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
}

.page-links .strumming-btn:hover {
  color: rgb(182, 0, 0);
}

.search input {
  margin-right: 100px;
  width: 300px;
  border-radius: 50px;
  height: 30px;
}
#basic-typeahead-single {
  background-color: rgb(202, 205, 211);
}

.main {
  padding-top: 50px;
  min-height: 100vh;
  background-color: rgb(33, 37, 41);
  background-color: rgb(12, 33, 54);
  display: flex;
}

.main .wrapper {
  margin: 40px auto 0 auto;
  max-width: 90vw;
  min-height: 80vh;
}
.main .wrapper .flex-btn {
  display: flex;
}

.wrapper .btn-shuffle {
  color: black;
  background: rgb(178, 208, 255);
  padding: 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  outline: none;
}
.wrapper .btn-shuffle.on {
  background-color: deepskyblue;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  min-height: 94.25vh;
  background-color: rgb(12, 33, 54);
  /* background-color: rgb(0, 106, 132); */
}

.player-wrapper {
  color: aliceblue;
  padding: 15px;
  min-height: 70%;
  background-color: rgb(51, 64, 75);
  border-radius: 10px;
}

.player-header {
  display: flex;
  justify-content: center !important;
  padding-bottom: 10px;
}
.player-header .close-btn {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: rgb(121, 7, 7);
  margin: 0px !important;
  position: relative;
  left: 200px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid rgb(121, 7, 7);
  background-color: black;
  border-radius: 8px;
}

.player-header .close-btn:hover {
  color: rgb(182, 0, 0);
}

.player-header .song span {
  color: aliceblue !important;
}

.player-main {
  display: flex;
  height: 710px;
}

.playlist {
  background-color: black;
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-right: 1px solid rgb(31, 41, 50);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.player {
  width: 1240px !important;
  height: 710px !important;
  border: 1px solid black;
  border-radius: 10px;
}

.item {
  flex: none;
  background-color: inherit;
  padding: 10px;
  height: 70px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}
.item p {
  margin-bottom: 0;
}
.item img {
  width: 25%;
  border-radius: 10%;
}
.item:hover {
  background-color: rgb(21, 24, 27);
}
.item.active {
  background-color: rgb(12, 33, 54);
}

.page {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
}
.page .part {
  width: 49%;
}

.page .part .heading {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 9fr 4fr;
  background-color: rgb(202, 205, 218);
}
.page .part .heading .span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.song {
  min-height: 48px;
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  width: 60%;
}

.page .song {
  background-color: white;
  width: 100%;
}
.page .song .chords {
  background-color: rgb(213, 221, 255);
}
.page .song:hover {
  background-color: rgb(179, 194, 215);
}

.song a {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 9fr 4fr;
  text-decoration: none;
  color: black;
}
.song a .span {
  display: flex;
  align-items: center;
}

.song a .span.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chords-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.chords {
  background-color: rgb(67, 76, 84);
  border-radius: 5px;
  margin: 0 5px;
  padding: 0 5px;
  width: max-content;
}

.tools {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  color: rgb(148, 155, 162);
  font-size: 14px;
  font-weight: 500;
  background-color: black;
}

.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  color: inherit;
}

.footer a span#c {
  color: deepskyblue;
  transition: all 0.2s ease-in-out;
}

.footer a:hover span#c {
  color: red;
}

@media screen and (max-width: 1600px) {
  .page {
    flex-direction: column;
  }
  .page .part {
    width: 100%;
  }
  h5.heading ~ .heading {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .page-links {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .tools {
    flex-direction: column;
    align-items: center;
  }
  .page .part .heading {
    grid-template-columns: 1fr 4fr 1fr 4fr 4fr;
  }
  .song {
    grid-template-columns: 1fr 4fr 1fr 4fr 4fr;
    width: 90%;
  }
  .modal-content.my-modal {
    min-height: 100vh !important;
  }
  .modal-dialog {
    max-width: 100vw !important;
    min-height: 100vh !important;
  }
  .modal-header .close-btn {
    left: 20px;
  }
  .grid {
    flex-direction: column-reverse;
  }
  .playlist {
    width: 100%;
  }
  .item img {
    width: 10%;
  }
  .player {
    width: 100%;
    height: calc(120vw * 10 / 16);
  }
}
@media screen and (max-width: 480px) {
  .player-wrapper {
    width: 100vw !important;
  }
  .player-main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .player {
    width: 92vw !important;
    height: calc(180vw * 10 / 16);
  }
  .player-header {
    display: unset;
  }
  .playlist {
    border-radius: 10px;
  }
  .song {
    min-width: 100%;
  }
  .song a {
    display: flex;
    flex-direction: column;
  }
  .song .span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player-header .close-btn {
    position: absolute;
    top: 120px;
    left: unset;
    right: 30px;
  }
}
